* {
  margin: 0;
  padding: 0;
  font-family: monserrat;
}
.sec1,
.sec2 {
  background: url(./imgs/portfolio-2.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  /* width: 100%; */
}
.sec2 {
  background: url(./imgs/6.jpg) no-repeat;
  background-size: cover;
}
h1 {
  font-size: 40px;
  padding: 10px 30px;
}
p {
  text-align: justify;
  padding: 0 30px 15px 30px;
}
i {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 45px;
  color: #fff;
  background-color: #0f55ed;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
i:hover {
  background-color: #0d4aa5;
  transition: 0.5s;
}
